.index .logo {
    float: left;
    width: 120px;
    font-family: "comic sans ms";
    color: #fff;
    font-size: 32px;  
}
.index {
    height: 100%;
}
.content {
    padding: 0 30px;
}
.footer {
    text-align: center;
    font-size: 12px;
}
