.login-wrapper {
	background: #56bc8a ;
	height: 100%;
}
.login-bg-img {
	height: 100%;
	display: none;
}
.login-panel {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login-logo {
	color: white;
	text-align: center;
	font-size: 128px;
	font-family: "comic sans ms";
}
